<div
  class="relative h-full w-full bg-[url('/assets/images/hero.jpg')] bg-no-repeat bg-center bg-fixed bg-cover"
>
  <div class="bg-black h-full w-full lg:bg-opacity-50">
    <nav class="px-12 py-5">
      <img src="/assets/images/logo.png" alt="Logo" class="h-12" />
    </nav>
    <div class="flex justify-center">
      <div
        class="bg-black bg-opacity-70 px-16 pb-16 pt-4 self-center mt-2 lg:w-2/5 lg:max-w-md rounded-md w-full"
      >
        <div class="bg-gray-300 rounded-md px-4 py-4 my-4">
          <h3 class="text-red-600 font-bold">IMPORTANT</h3>
          <p class="text-xs">
            You can click the button "Log in" without filling the username or
            password, this is only for demostrative purpouses.
          </p>
        </div>
        <h2 class="text-white text-4xl mb-8 font-semibold">
          {{ variantLogin ? "Sign in" : "Register" }}
        </h2>
        <form [formGroup]="formulario" class="flex flex-col gap-4">
          @if (!variantLogin) {
          <input-control
            [label]="'Username'"
            [type]="'input'"
            [id]="'username'"
            formControlName="nombre"
          ></input-control>
          }
          <input-control
            [label]="'Email'"
            [type]="'input'"
            [id]="'email'"
            formControlName="nombre"
          ></input-control>
          <input-control
            [label]="'Password'"
            [type]="'password'"
            [id]="'password'"
            formControlName="nombre"
          ></input-control>
        </form>
        <button
          class="bg-red-600 py-3 text-white rounded-md w-full mt-10 hover:bg-red-700 transition"
          (click)="goProfiles()"
        >
          {{ variantLogin ? "Login" : "Sign up" }}
        </button>
        <p class="text-neutral-500 mt-12">
          {{
            variantLogin
              ? "Firts time using Netflix?"
              : "Alredy have an account?"
          }}
          <span
            (click)="variantLogin = !variantLogin"
            class="text-white ml-1 hover:underline cursor-pointer"
          >
            {{ variantLogin ? "Create an Account" : "Login" }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
